body {
  margin: 0px;
}

.tox-tinymce {
  border: none !important;
}

    
/*控制整个滚动条*/
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #FFF;
}

/* 滚动条两端方向按钮 */
::-webkit-scrollbar-button {
  display: none;
}

/*滚动条中间滑动部分*/
::-webkit-scrollbar-thumb {
  background-color: #CCC;
  border-radius: 8px;
}
