.root {
  height: 264px;
  flex-grow: 1;
  max-width: 400px;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.toc-item {
  display: flex;
  align-items: center;
  user-select: none;
  color: #ffffff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
